<h1 class="skinny-font small-12 columns">All Artists</h1>

<div class="small-12 columns">
  <% @artists.each do |artist| %>
    <h4 class="cursive-font">
      <%= link_to artist.name, artist_path(artist.id) %>
    </h4>
  <% end %>
</div>
