<h1 class="skinny-font small-12 columns"><%= current_user.name %>'s Favorites</h1>

<div class="small-12 columns">
  <% @favorites.each do |favorite| %>
    <h4 class="cursive-font"><%= link_to( favorite.song.name, song_path(favorite.song.id) ) %></h4>
  <% end %>
</div>
