
<div class="row">
    <p class="header-font small-12 columns">
        Hi and thanks for checking out my capstone project!
    </p>
    <p class="header-font small-12 columns">
        I created this site to help me play popular music on ukulele. Find a song you like (or add a new one from <a href="ukulele-tabs.com" target="_blank">ukulele-tabs.com</a>), click the play button to get hands-free assistance in scrolling and adjust the speed with the faster/slower buttons.
    </p>
    <p class="header-font small-12 columns">
        Update Spring 2017: <br />
        I'm in the process of changing a few things around, however, keep in mind that I am in the middle of a challenging internship and these things take time...a luxury I no longer have much of 😰 <br />
        I totally plan on getting back to this and have appreciated your suggestions of introducing other instruments, bringing back the 'favorite' button, and some others! Feel free to send me an <a href="mailto:mcortes.umiami@gmail.com?Subject=Totally%20digging%20your%20ukulele%20site!" target="_top">email</a> in the meantime and let me know what you like or hate.<br />
        -Miriam
    </p>
  <img src="/assets/uke_logo1.png" class="small-12 columns logo-image") />
</div>
