

<h1 class="second-font center">Ikulele</h1>
<h4>This site is currently under construction | Patience and well wishes are appreciated!</h4>

<div class="small-12 columns row">
  <%= button_to 'All Songs', songs_path, class: "button small-6 columns", method: :get %>
  <%= button_to 'All Artists', artists_path, class: "button small-6 columns", method: :get %>
</div>
