<h1 class="skinny-font small-12 columns">All Songs</h1>

<div class="small-12 columns">
  <% @songs.each do |song| %>
    <h3 class="cursive-font"><%= link_to (song.name + " | " + song.artist.name), song_path( song.id ) %></h3>
  <% end %>
</div>
