<h5 class="error-message"><%= @error if @error %></h5>

<div class="small-12 columns">
  <h3 class="small-12 columns skinny-font">At the moment new songs can be added from  <a href="http://www.ukulele-tabs.com/">Ukulele-Tabs</a>. </h3>
  <h3 class="small-12 columns skinny-font">Just find the version you like best and paste the link below: </h3>

  <%= form_for @song,
    method: @post_method, class: "small-12 columns",
    url: {action: "create"} do |f| %>

    <div class="form_attribute small-12 columns">
      <%= f.text_field :website, placeholder: 'website' %>
    </div>
  <% end %>

</div>
