<%# app/views/songs/show.html.erb %>

<div id="song" class="small-12 columns">
  <%= react_component 'Song', { songData: @song, artistData: @artist } %>
  <%#= react_component 'Artist', { data: @artist }  %>
</div>
