@import url('foundation.css');
@import url('foundation_and_overrides.scss');
@import url('_settings.scss');


 .first-font {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 1rem;
 }
 .second-font{
   font-family: 'Amatic SC', cursive;
   /*font-size: 1em;*/
 }
 .third-font{font-family: 'Rock Salt', cursive;}

 header {
   top: 0;
   position: fixed;
   width: 100%;
   /*height: 20vh;*/
   margin-top: 1%;
   display: block;
 }

 .homepage-image {
   /*margin-top: 1%;*/
   width: 100%;
   height: 48vh;
 }

 body {
   margin: 1%;
   width: 98%;
 }

 main {
   margin-top: 10vh;
   display: block;
 }

 footer {
  display: block;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 5vh;
  background-color: white;
  color: black;
  vertical-align: middle;
  font-weight: 200;
  text-align: center;
  position: fixed;
  bottom: 0;
  clear: both;
  font-size: 1rem;
 }

 .button {background-color: #dae5e8; color: black;}
 .button:hover {background-color: #272D2D; color: #dae5e8;}

 .tabs {
   float: left;
   display: block;
   font-family: 'Inconsolata', monospace;
   font-size: 1.2rem;
   overflow: scroll;
   /*width: 100%;*/
   height: 80vh;
 }

 .chords {
   float: right;
   display: block;
 }
 .chord {
   width: 100%;
 }

 .chords-div {
   /*position: absolute;*/
   float: right;
   display: inline;
 }
